:root{
    /* 
    Color pallete that is going to be used
    for this asignment
     */
     --main-color: #013a63 ;
     --text-color: #a9d6e5;
     --tittle-color: #2a6f97;
     --white: #fdfffc;

     /* 
     Text size configuration for this asignment
     */
     --xl: 32px;
     --l: 24px;
     --s: 16px;
     --xs: 12;
}

body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.tittle{
    color: var(--main-color);
    font-weight: bolder;
}

.name{
    color: var(--tittle-color);
    font-weight: bold;
    margin-bottom: 52px;
}


.landing-page {
    background: var(--white);
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 88%;
    left: 0;
    position: fixed;
;}


.landing-page > div {
    width: 80%;
    height: 40%;
    margin: auto;
    position: absolute;
    top: 100px; 
    left: 0; 
    bottom: 20%; 
    right: 0;
    text-align: center;
}

img {
    border-radius: 50%;
    height: 300px;
}


#button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: var(--text-color);
    padding-top: 12px;
    background-color: var(--main-color);
    box-sizing: border-box;
}

.about {
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
}
.subtittle{
    margin-top: 44px;
    text-align: center;
    color: var(--white);
}

.content {
    padding: 44px;
    background: var(--main-color);
}

h2{
 font-size: var(--l);
 font-weight: bold;
}

.l-content{
    padding:  44px;
    background: var(--white);
    margin-bottom: 40px;
}

.l-content > h2 {
    color: var(--main-color);
    font-weight: bold;
    font-size: var(--l);
}

.hobbie-card > p {
    color: #013a63;
}

p{
    color: var(--text-color);
    font-size: var(--s);
}

.hobbies-section{
    display: flex;
    justify-content: space-around;
}

.hobbie-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}